$heightContainer : 70vh;
$widthContainer : 47vw;

.container{
    width: 100vw;
    height: $heightContainer;
    display: flex;
    flex-direction: column;
}

.container-table{
    width: 100%;
    height:  50vh;
    display: flex;
    justify-content: center;
}