$heightContainer : 70vh;
$widthContainer : 47vw;

.container{
    width: 100vw;
    height: $heightContainer;
    display: flex;
    flex-direction: column;
}

.container-table{
    width: 100%;
    height:  $heightContainer/2;
    display: flex;
    justify-content: center;
}

.container-details{
    display: flex;
    justify-content: center;
    height: $heightContainer/2;
}