*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.flex{
    display: flex;
}

.flex-row{
    flex-direction: row;
}

.justify-center-center{
    justify-content: center;
    align-items: center;
}

@import "header";
@import "container";
@import "table";