@import url('https://fonts.googleapis.com/css?family=Rajdhani');

*{
    padding: 0;
    margin: 0;
    font-family: 'Rajdhani', sans-serif;    
}

body{
    background-color: #EDEDED;
}

@import "header";
@import "container";
@import "table";
@import "details";