@import url('https://fonts.googleapis.com/css?family=Ubuntu');

table{
    margin-top: 5vh;
    width: 90%;
    border-collapse: collapse;
    
    th, td{
        vertical-align: center;
        font-family: 'Ubuntu', sans-serif;
        border: none;
    }
    th{
        color: #8A898C;
        text-align: left;
        font-size: 20px;
        font-weight: 700;
    }
    td{
        text-align: start;
        font-size: 16px;
        font-weight: 900;
        color: #313131;
        border-spacing: 0;         
    }
    thead{
        tr{
            height: 70px;
        }
    }
    tbody{
        tr{
            height: 40px;
            border-radius: 3px;
            &:hover{
                background-color: #D1C2E0;
            }
        }
        tr:nth-child(odd){
            background-color: #CBCBCB;
        }
        tr:nth-child(even){
            background-color: white;
        }
    }
}