$heightTh : 70px;

table{
    margin-top: -$heightTh;
    width: 55%;
    background-color: white;
    border-collapse: collapse;
    
    th, td{
        vertical-align: center;
        border: none;
    }
    th{
        color: #00C459;
        text-align: center;
        font-size: 28px;
        font-weight: bold;
    }
    td{
        text-align: start;
        font-size: 20px;
        font-weight: 900;
        color: #393939;         
    }
    thead{
        tr{
            height: $heightTh;
            background-color: #2E313E;
        }
    }
    tbody{
        tr{
            height: 40px;
            border-radius: 3px;
            &:hover{
                background-color: #D1C2E0;
            }
        }
    }
}