$heightTh : 70px;

table{
    margin-top: -$heightTh;
    width: 55%;
    background-color: white;
    border-collapse: collapse;

    //Scrollabel
        tbody {
            display:block;
            height:100%;
            overflow:auto;
        }

        thead, tbody tr {
            display:table;
            width:100%;
            table-layout:fixed;/* even columns width , fix width of table too*/
        }

    th, td{
        vertical-align: center;
        border: none;
        text-align: center;
    }
    th{
        font-size: 38px;
        font-weight: bold;
    }
    td{
        font-size: 20px;
        font-weight: 900;
        // color: #393939;         
    }
    thead{
        tr{
            height: $heightTh;
            background-color: #2E313E;
        }
    }
    tbody{
        tr{
            height: 40px;
            border-radius: 3px;
            &:hover{
                background-color: #D1C2E0;
            }
        }
    }
}

.th-id{
    color: #00C459;
}

.colum-id{
    width: 12%;
}

.th-name{
    color: #3498db;
}
.colum-name{
    width: 40%;
}

.th-years{
    color: #E93C4C;
}
.colum-years{
    width: 23%;
}

.th-mean{
    color: #9b59b6;
}
.colum-mean{
    width: 25%;
}